<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Bootstrap Snippet: Login Form</title>


    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style/login.css">


</head>

<body>

<div class="wrapper">
    <form class="form-signin" active="validate" method="post">
        <h2 class="form-signin-heading">登录</h2>
        <input type="text" class="form-control" name="username" placeholder="用户名" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="密码" required=""/>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe">记住密码
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>



</body>

</html>